@model ProgrammingLanguage

@{
    ViewData["Title"] = "Редактировать язык программирования";
}

<div class="text-center">
    <h1 class="display-4">Редактировать язык программирования</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <form method="post" asp-controller="ProgrammingLanguages" asp-action="Update">
                        <div class="mb-3">
                            <label for="Name" class="form-label">Название языка</label>
                            <input type="text" class="form-control rounded-pill" id="Name" asp-for="Name" placeholder="Введите название языка">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label for="Description" class="form-label">Описание языка</label>
                            <textarea class="form-control rounded" id="Description" asp-for="Description" rows="3" placeholder="Введите описание языка"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary rounded-pill">Обновить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}