@model Coursework.Models.Entities.Solution

@{
    ViewData["Title"] = "Добавить язык программирования";
}

<div class="text-center">
    <h1 class="display-4">Добавить язык программирования</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <form method="post" asp-controller="ProgrammingLanguages" asp-action="Create">

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary rounded-pill">Добавить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}