@model Coursework.Models.Entities.Solution

@{
    ViewData["Title"] = "Решения";
}

<div class="text-center">
    <h1 class="display-4">Решения</h1>
</div>
//TODO перенести это на страницу просмотра

<div class="container">
    <div class="d-grid d-md-flex justify-content-md-end">
        <a 
            class="btn btn-primary rounded-pill"
            style="width: 200px;"
            asp-controller="Solution"
            asp-action="Create">Добавить</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Автор</th>
            <th style="width: 1%;" scope="col"></th>
            <th style="width: 1%;" scope="col"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr>
            Решение автора
        </tr>
        @foreach (var solution in ViewBag.Solutions)
        {
            <tr>
                <th scope="row">@solution.Id</th>
                <td></td>
                <td>
                    <a class="btn btn-secondary btn-sm rounded-pill"
                       asp-controller="Solution"
                       asp-action="Update"
                       asp-route-id="@solution.Id">Редактировать</a>
                </td>
                <td>
                    <form
                        method="post"
                        asp-controller="Solution"
                        asp-action="Delete"
                        asp-route-id="@solution.Id"
                        onsubmit="return confirm('Вы уверены, что хотите удалить это решение?');">
                        <button type="submit" class="btn btn-danger btn-sm rounded-pill">Удалить</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>