@model Coursework.Models.Entities.Solution

@{
    ViewData["Title"] = $"Решение упражнения \"{Model.Exercise?.Name}\"";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h3 class="card-title text-center">Решение упражнения "@Model.Exercise?.Name"</h3>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <strong>S3 Ключ:</strong> @Model.S3Key
                    </div>
                    <div class="text-end">
                        <a style="width: 100px"
                           class="btn btn-sm btn-primary mt-3 rounded-pill"
                           asp-controller="Exercises"
                           asp-action="View"
                           asp-route-id="@Model.ExerciseId">Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>