@model Coursework.Models.Entities.Exercise

@if (Model is not null)
{
<a asp-controller="Exercises" asp-action="View" asp-route-id="@Model.Id" class="text-primary" style="text-decoration: none; cursor: pointer;">
    @Model.Name
</a>
}
else
{
<span>Неизвестное упражнение</span>
}
